<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>aperosengine</string>
	<key>CFBundleIconFile</key>
	<string>aperosengine-icon.ico</string>
	<key>CFBundleName</key>
	<string>AperosEngine</string>
	<key>CFBundleDisplayName</key>
	<string>AperosEngine</string>
	<key>CFBundleIdentifier</key>
	<string>net.aperosengine.aperosengine</string>
	<key>NSHighResolutionCapable</key>
	<false/>
</dict>
</plist>
